source venv/bin/activate
export PORT=5000
export APP_SETTINGS="config.DevelopmentConfig"
export SECRET_KEY="YOUR_KEY_HERE"
export DATABASE_URL="postgresql://postgres:@localhost/allowances_development"
export PLAID_CLIENT_ID="5aa0139e8d92394b18d3b578"
export PLAID_SECRET="22e53621bfbc728394f6eab3a86ab8"
export PLAID_PUBLIC_KEY="f5ff4c97e6a7c21d60e49643d9e11e"
