SECRET_KEY='YOUR SECRET KEY HERE (SEE README)'
SQLALCHEMY_DATABASE_URI='postgresql://postgres:@localhost/allowances_development'
SQLALCHEMY_TRACK_MODIFICATIONS=False
SQLALCHEMY_COMMIT_ON_TEARDOWN=True
PLAID_CLIENT_ID='PLAID CLIENT ID'
PLAID_SECRET='PLAID SECRET KEY'
PLAID_PUBLIC_KEY='PUBLIC KEY'
PLAID_ENV='development'
