[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==6.7"
Flask = "==0.12.2"
Flask-GraphQL = "==1.4.1"
Flask-HTTPAuth = "==3.2.3"
Flask-SQLAlchemy = "==2.2"
graphql-core = "==2.0"
greenlet = "==0.4.12"
itsdangerous = "==0.24"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
msgpack-python = "==0.4.8"
neovim = "==0.1.13"
passlib = "==1.7.1"
promise = "==2.1"
"psycopg2" = "==2.7.3.2"
requests = "==2.13.0"
Rx = "==1.6.1"
six = "==1.11.0"
SQLAlchemy = "==1.1.11"
typing = "==3.6.4"
Werkzeug = "==0.12.2"
graphene = "*"
graphene-sqlalchemy = "*"
plaid-python = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
